.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.huge-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.huge-container input {
    flex: 1 1 200px;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.page-display {
    width: 40px;
}

@media screen and (max-width: 600px) {
    table {
        font-size: 0.8rem;
    }
    table th,
    table td {
        padding: 0.5px;
    }
}
